html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

h2[class="name"] {
  margin-bottom: 1rem;
}

hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 4%;
}

.container {
  background: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div[class$="wrapper"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container input[type="button"] {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 4rem;
}

.container input[type="button"]:hover {
  background-color: #9df4ff;
  cursor: pointer;
}

.container input[type="button"]:active {
  background-color: #4aeaff;
}

.container .title-wrapper {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c99d25;
}

.container .title-wrapper .title {
  font-size: 2.5rem;
}

.container .count-wrapper {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 1rem 0;
}

.container .count-wrapper .countBtn-block {
  margin-bottom: 0.5rem;
}

.container .count-wrapper .countResult-block {
  font-size: 1.2rem;
}

.container .scoreBoard-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.container .scoreBoard-wrapper .board-block {
  background-color: #122e13;
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.container .scoreBoard-wrapper .board-block div[class^="board"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .scoreBoard-wrapper .board-block div[class^="score"] {
  border: 1px solid white;
  height: 4rem;
  width: 4.5rem;
}

.container .scoreBoard-wrapper input {
  height: 3rem;
  width: 4rem;
  border-radius: 15px;
  font-size: 1.3rem;
}

.container .control-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
}

.container .control-wrapper div[class^="control"] {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .control-wrapper input {
  height: 3rem;
  width: 5rem;
  font-size: 1.3rem;
}

.container .control-wrapper .button-block input:nth-child(2) {
  margin-left: 1rem;
}

.container .control-wrapper .off:hover {
  cursor: not-allowed;
  background: initial;
}
/*# sourceMappingURL=style.css.map */