//palette-----------------
$textDefault : #F2D5D5;
$textHighlight: #F28585;
$textTitle : #D9A7A7;
$background: #262625;
$wrapper: #49794b83;
$block: #D9A7A7;
//-------------------------
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
}



h2 {
    margin: 0;
    padding: 0;

    &[class="name"] {
        margin-bottom : 1rem;
    }
}

hr{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top : 5%;
}

.container {
    
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: $textDefault;
    padding: 1rem 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    div[class$="wrapper"] {
        display: flex;
        width: 100%;
    }

    input[type="button"] {
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0.5rem;
        width: 4rem;
        background-color: $textDefault;
        &:hover {
            background-color: #9df4ff;
            cursor: pointer;
        }

        &:active {
            background-color: #4aeaff;
        }
    }

    .title-wrapper {
        display: inherit;
        justify-content: center;
        margin-bottom: 1rem;
        color: $textTitle;
        .title {
            font-size: 2.5rem;
            font-family: 'Chango', sans-serif, 'Times New Roman', Times, serif;
        }
    }

    .count-wrapper {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 1rem 0 0;

        .countBtn-block {
            margin-bottom: 1rem;
        }

        .countResult-block {
            font-size: 1.2rem;

            .count-result {
                font-size: 1.6rem;
                font-family: 'Gugi';
            }
        }
    }

    .scoreBoard-wrapper{ 
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        
        .board-block {
            background-color: $wrapper;
            display: inherit;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 1rem 0;
            
            div[class^="board"]{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
            }
    
            div[class^="score"]{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Gugi',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1.5rem;
                border: 1px solid white;
                height: 4rem;
                width: 4.5rem;
            }

            
        }
        
        .resultMessage{
            visibility: hidden;
            height: 1rem;
            font-size: 1.5rem;
            color: $textHighlight;
        }
        
        #startBtn{
            height: 3rem;
            width: 5rem;
            border-radius: 15px;
            font-size: 1.3rem;
        }

        .message {
            color: $textDefault;
            font-size: 1.2rem;
        }
    }

    .control-wrapper {
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        padding: 5% 0;
        height: 30%;
        background-color: $wrapper;

        div[class^="control"] {
            display: inherit;
            flex-flow: column nowrap;
            align-items: center;
        }
        input {
            height: 3rem;
            width: 5rem;
            font-size: 1.3rem;
        }
        .button-block {

            input:nth-child(2) {
                    margin-left: 1rem;
            }
        }
        .off {
            background: #888888a8;
            &:hover{
                cursor: not-allowed;
                background: #888888a8;
            }
        }
    }

    @media screen and (max-width: 381px){
        .title-wrapper {
            .title {
                font-weight: 700;
                font-size: 1.4rem;
            }
        }

        .control-wrapper {
            justify-content: space-between;
            padding: 1rem;
            box-sizing: border-box;
    
            div[class^="control"] {
                display: inherit;
                flex-flow: column nowrap;
                align-items: center;
            }
    
            input {
                height: 2.5rem;
                width: 4.5rem;
                font-size: 1.1rem;
                text-align: center;
            }
            .button-block {
    
                input:nth-child(2) {
                        margin-left: 0.1rem;
                }
            }
        }
    }

    @media screen and (min-width:381px) and (max-width:580px){
    
        .title-wrapper {
            .title {
                font-size: 1.8rem;
                font-weight: bolder;
                text-align: center;
            }
        }
    
        .count-wrapper {
    
            .countBtn-block {
                margin-bottom: 0.5rem;
            }
    
            .countResult-block {
                font-size: 1.2rem;
            }
        }
    
    }



    @media screen and (max-width: 387px){
        .message{
            text-align: center;
            width: 13rem;
        }
    }
}